#container {
  display: flex;
  justify-content: space-around;
}

.item {
  height: 50px;
  width: 50px;
  background-color: yellow;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle1 {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle2 {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 50%;
}
